<!doctype html>
<html lang="en">
<title>Книги - страница {{ page_number }}</title>
<link rel="icon" href="../favicon/images_favicon.png" sizes="16x16">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../statics/templates/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
    <body>
      <!-- Optional JavaScript; choose one of the two! -->

      {% for books in books %}
      <div class="row">
        {% for book in books %}
        <div class="col"> 
          <div class="container p-3">
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src=../media/images/{{ book.image_name|urlencode }}  class="m-3 card-img" alt='{{ book.filename }}'>
                  </div>
                    <div class="p-3 col-md-8">
                      <div class="card-body m-3">
                        <h5 class="m-0 card-title">{{ book.filename }}</h5>
                        <p class="m-0 card-text">{{ book.author }}</p>
                        <p><span class="m-0 badge badge-light">{{ book.genres[0] }}</span></p>
                        <a href="../media/books/{{ book.filename|urlencode }}.txt" target="_blank" rel="noopener noreferrer">Читать</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}

          <div class="col-6">
        </div>
      </div>

    {% endfor %}

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li>
        {% if page_number == 1 %}

          <li class="page-item disabled">

        {% endif %}

        <a class="page-link" href="index{{ page_number-1 }}.html" tabindex="-1"  aria-label="true">Назад</a>
      </li>

        {% for num in range(1, pages_number+1 ) %}

          {% if page_number == num %}

            <li class="page-item active" aria-current="page">
              <a class="page-link" href=#>{{ num }} <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ num }}.html">{{ num }}</a></li>
          {% endif %}


 
        {% endfor %}

        <li>
          {% if page_number == pages_number %}

            <li class="page-item disabled">

          {% endif %}

            <a class="page-link" href="index{{ page_number+1 }}.html" tabindex="-1"  aria-label="true">Вперёд</a>
        </li>
      </ul>
    </nav>






    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../statics/templates/js/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../statics/templates/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body> 
</html>